body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#Welcome {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.Photo {
    width: 175px;
    height: 100px;
    margin-bottom: 50px;
    border-radius:175px;
}

h1 {
    font-size: 40px;
    font-family: serif;
    font-weight: 300;
}

#Name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}

#Bio {
    padding: 50px;
    text-align: center;
}

.About {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.Menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    height: 50px;
    width: :100px;
    right: 50px;
    z-index: 10;
    top: 10px;
    bottom: 100px;
    cursor: pointer;
    color: black;

}

.Link {
    float: left;
    color: black;
    background-color: white;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: serif;
    font-size: 20px;
}

.Link:hover {
    background-color:deepskyblue;
    color: white;
}

.Spelled You Wrong{
display: table-cell;
position: relative;
text-align: center;
vertical-align: middle;
}
